# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Crypto-T-Xamarin.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Developer\Crypto-T-Xamarin\.idea\.idea.Crypto-T-Xamarin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
